<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.css"/>
		<link rel="stylesheet" href="/themes/custom/mdbreact/templates/classy/frontend/templates/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/themes/custom/mdbreact/templates/classy/frontend/templates/css/mdb.css"/>
		<link rel="stylesheet" href="/themes/custom/mdbreact/templates/classy/frontend/templates/css/style.min.css"/>
		<link rel="stylesheet" href="/themes/custom/mdbreact/templates/classy/frontend/templates/css/style.css"/>
		<title>Wotktime</title>
		<style>
			table.dataTable thead .sorting:after,
			table.dataTable thead .sorting:before,
			table.dataTable thead .sorting_asc:after,
			table.dataTable thead .sorting_asc:before,
			table.dataTable thead .sorting_asc_disabled:after,
			table.dataTable thead .sorting_asc_disabled:before,
			table.dataTable thead .sorting_desc:after,
			table.dataTable thead .sorting_desc:before,
			table.dataTable thead .sorting_desc_disabled:after,
			table.dataTable thead .sorting_desc_disabled:before {
				bottom: 0.5em;
			}

			.bcw {
				width: 30px;
				height: 30px;
				background: #fff;
				border-radius: 50%;
				border: 1px solid black;
			}

			.cw {
				width: 20px;
				height: 20px;
				background: #fff;
				border-radius: 50%;
				border: 1px solid black;
			}

			.cg {
				width: 20px;
				height: 20px;
				background: rgb(4, 248, 85);
				border-radius: 50%;
				border: 1px solid black;
			}
		</style>
	</head>
	<body class="grey lighten-3">
		<div id="app"></div>
		<script src="/themes/custom/mdbreact/templates/classy/frontend/static/main.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script type="text/javascript" src="/themes/custom/mdbreact/templates/classy/frontend/templates/js/popper.min.js"></script>
		<script type="text/javascript" src="/themes/custom/mdbreact/templates/classy/frontend/templates/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/themes/custom/mdbreact/templates/classy/frontend/templates/js/mdb.min.js"></script>
		<script type="text/javascript" src="/themes/custom/mdbreact/templates/classy/frontend/templates/js/main.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	</body>
</html></body></body></html>
